<div class="text-title d-flex align-items-center">
  <a href="javascript:history.back()">
    <div class="back-icon">
      <i class="fas fa-arrow-left"></i>
    </div>
  </a>
  <div class="name-info ">
    {{#if user}}
    <h5 class="header1 ml-3 mb-0">{{user.name}}</h5>
    <div class="atAccount ml-3 mb-1">{{user.Tweets.length}}推文</div>
    {{else}}
    <div class="title-name ml-3">推文</div>
    {{/if}}
  </div>
</div>