<div class="col-3">
  <img class="mb-4 pl-3" src="https://i.imgur.com/8DjhHxL.png">
  <div class="nav-ul-wrapper pl-3">
    <ul class="nav flex-column">
      <li class="nav-item py-2">
        <a class="nav-link {{#ifCond route 'tweets'}}active{{/ifCond}}" href="/">
          <i class="fas fa-home"></i>
          <span class="ml-3">首頁</span>
        </a>
      </li>
      <li class="nav-item py-2">
        <a class="nav-link {{#ifCond route 'users'}}active{{/ifCond}}" href="/users/{{ loginUser.id }}/tweets">
          <i class="far fa-user"></i>
          <span class="ml-3">個人資料</span>
        </a>
      </li>
      <li class="nav-item py-2">
        <a class="nav-link {{#ifCond route 'setting'}}active{{/ifCond}}" href="/users/{{ loginUser.id}}/setting/edit">
          <i class="fas fa-cog"></i>
          <span class="ml-3">設定</span>
        </a>
      </li>
      <li class="nav-item py-2">
        <button type="button" class="btn tweet-button" data-toggle="modal" data-target="#tweetModal">推文</button>
      </li>
    </ul>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="/logout">
          <i class="fas fa-sign-out-alt"></i>
          <span class="ml-3">登出</span>
        </a>
      </li>
    </ul>
  </div>
</div>

{{> tweetModal }}
