<div class="col-3">
  <img class="mb-4 pl-2" src="https://i.imgur.com/8DjhHxL.png">
  <div class="nav-ul-wrapper">
    <ul class="nav flex-column">
      <li class="nav-item py-2">
        <a class="nav-link" href="/">
          <i class="fas fa-home"></i>
          <span class="ml-3">首頁</span>
        </a>
      </li>
      <li class="nav-item py-2">
        <a class="nav-link" href="/users/{{user.id}}/tweets">
          <i class="far fa-user"></i>
          <span class="ml-3">個人資料</span>
        </a>
      </li>
      <li class="nav-item py-2">
        <a class="nav-link active" href="/users/{{user.id}}/setting/edit">
          <i class="fas fa-cog"></i>
          <span class="ml-3">設定</span>
        </a>
      </li>
      <li class="nav-item nav-btn-modal py-2">
        <a class="btn btn-modal py-2" data-toggle="modal" data-target="#tweetModal">推文</a>
      </li>
    </ul>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="/logout">
          <i class="fas fa-sign-out-alt"></i>
          <span class="ml-3">登出</span>
        </a>
      </li>
    </ul>
  </div>
</div>