<div class="row" style="width:100%;">
{{>navbar}}

  {{!-- content --}}
  <div class="col-6 content-container">
    <form class="form-signin" action="/users/{{ user.id }}/setting?_method=PUT" method="POST" style="width: 100%;">
      <div class="text-center">
        <div class="setting-title mt-2 ml-3">帳戶設定</div>
      </div>
      <hr>
      <div class="setting-form-label-group mt-4 mb-3">
        <label for="inputAccount">帳號</label>
        <input type="text" name="account" class="form-control pt-4"
          style="max-width: 642px; font-weight: 500; font-size: 19px; color: #1c1c1c;" placeholder="請輸入帳號"
          value="{{ user.account }}" required>
      </div>

      <div class="setting-form-label-group mb-3">
        <label for="inputName">名稱</label>
        <input type="text" name="name" class="form-control pt-4"
          style="max-width: 642px; font-weight: 500; font-size: 19px; color: #1c1c1c;" maxlength="50"
          placeholder="請輸入名稱" value="{{ user.name }}" required>
      </div>

      <div class="setting-form-label-group mb-3">
        <label for="inputEmail">Email</label>
        <input type="text" name="email" class="form-control pt-4"
          style="max-width: 642px; font-weight: 500; font-size: 19px; color: #1c1c1c;" placeholder="請輸入Email"
          value="{{ user.email }}" required>
      </div>

      <div class="setting-form-label-group mb-3">
        <label for="inputPassword">密碼</label>
        <input type="password" name="password" class="form-control pt-4"
          style="max-width: 642px; font-weight: 500; font-size: 16px; color: #1c1c1c;" placeholder="請輸入密碼">
      </div>


      <div class="setting-form-label-group mb-3">
        <label for="inputPasswordCheck">確認密碼</label>
        <input type="password" name="passwordCheck" class="form-control pt-4"
          style="max-width: 642px; font-weight: 500; font-size: 16px; color: #1c1c1c;" placeholder="請再次輸入密碼">
      </div>
      <br />
      <div class="d-flex justify-content-end pr-1">
        <button class="btn setting-button mr-3" type="submit">儲存</button>
      </div>
    </form>
  </div>
</div>